body {
	font-family: 'Source Sans Pro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 0.875rem;
}

.hidden {
	display: none;
}

.control label {
	margin-left: 1em;
}

#shiny {
	margin-top: 1em;
}

.axis-tick-year {
	fill: hsl(210, 50%, 70%);
}

.axis-tick-name {
	font-size: 0.75rem;
}

.grid-line {
	fill: none;
	stroke: hsl(210, 50%, 70%);
	stroke-width: 1;
	/*stroke-dasharray: 1 1;*/
}

.player-line-playing {
	fill: none;
	stroke-width: 1.5;
	/*stroke-linecap: round;*/
}

.player-line-gap {
	fill: none;
	stroke: #999;
	stroke-width: 1;
	stroke-dasharray: 1 1;
}
